.Contacts {
    margin-left: 50%;
    transform: translateX(-50%);
}
.ContactList {
    margin: 20px 0;
    border: 1px solid #ad1283;
    border-radius: 5px;
    padding: 54px;
    width: 80%;
    height: 20%;
}

.ContactImage {
    width: 100px;
    height: 100px;
    float: left;
}

.ContactList button {
    background: #ad1283;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
    margin: 10px;
}
.Button:hover{
    background: darksalmon;
}